body {
  background-color: #e9e9e9; 
  margin: 0;
  overflow: hidden;
}
a:hover { 
  color: red
}
h1,h2,h3 {
  text-align: center;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  color: black;
}
h1.title {
  display: table;
  margin: auto;
  background-color: #afc4d6;
  border-width: 4px;
  border-style: outset;
  border-color: #9fd1ff;
  padding: 5px 8px;
  letter-spacing: -.025em;
} 
.formTable {
  display: table;
}
/* If prompt and input are in two cells of one row, the prompt will be R-aligned. */
.formTable td:first-child {
  text-align: right;
}
/* Third table cell shows the error message, so make it bold and red. Used in validation examples that have h:message. */
.formTable td:nth-child(3) {
  color: red;
  font-weight: bold;
}
th { background-color: #afc4d6;
     font-size: 110%;
     font-family: Arial, Helvetica, sans-serif;
}
legend {
  font-weight: bold;
  color: black;
  background-color: #afc4d6;
  border: 1px solid #1a55bf;
  padding: 3px 5px;
  border-radius: 3px;
}
fieldset {
  border-radius: 6px;
  display: block;
}
input, textarea {
  background-color: #ecedf2;
  text-align: left;
}
input[type="checkbox"] {
  background-color: transparent;  /* For IE 7-9 -- doesn't matter in FF, Chrome, or IE 10+ */
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
  background-color: #9fd1ff;
}
.error {
  color: red;
  font-weight: bold;
}
/* So that in Chrome and IE, the bullets are next to the text in centered lists. Already OK in Firefox. */
[align="center"] li {
  list-style-position: inside;
}

/* New Styles */

/* Content */
#content{
	overflow: auto;
}
.ui-datalist-content{
	background: none;
}
.ui-datalist-data{
	margin: 10px;
}
.ui-datalist.item{
	background-color: #fff;
}

/* Toolbar */
.ui-toolbar{
	background-image: url('../images/interface/toolbar.jpg') !important;
	background-size: 100% !important; 
}
.ui-toolbar-group-left{
	width: 100%;
}
.ui-toolbar .ui-button{
	width: 10%;
}
.ui-toolbar .ui-inputfield{
	width: 76.6%;
}
.ui-autocomplete{
	width: 89%;
}
.ui-autocomplete .ui-inputfield{
	width: 86%;
	border-radius: 3px;
}
.ui-autocomplete-dropdown{
	margin-left: 1.2%;
	border-radius: 3px;
	top: -8% !important;
	height: 120% !important;
	width: 11.3% !important;
}

/* Tabmenu */
.ui-tabmenu {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
}
.ui-tabmenu-nav{
	padding: 0 !important;
}
.ui-tabmenuitem{
	width: 25%;
	margin: 0px !important;
	border: none !important;
	background-image: url('../images/interface/button.jpg') !important;
	background-size: 100% !important;
}
.ui-tabmenuitem a{
	width: 90%;
}
.ui-tabmenuitem.ui-state-default{
	opacity: 0.8;
}
.ui-tabmenuitem.ui-state-active{
	opacity: 1;
}

/* Toggleable */
.toggleable td:first-child{
	width: 25%;
}
.toggleable td img{
	width: 100%;
}
.toggleable .ui-panel-footer{
	text-align: right !important;
}

/* Icons */
.ui-icon{
	border-radius: 0 !important;
}
.ui-tabmenu .ui-icon{
	width: 100% !important;
	height: 30px !important;
	background-position: 50%;
}
.pot{
	background-image: url('../images/icons/pot.png') !important;
	background-size: 50px;
}
.recipe{
	background-image: url("../images/icons/recipe.png") !important;
	background-size: 26px;
}
.fridge{
	background-image: url("../images/icons/fridge.png") !important;
	background-size: 16px;
}
.shop{
	background-image: url("../images/icons/shop.png") !important;
	background-size: 40px;
}
.settings{
	background-image: url("../images/icons/settings.png") !important;
	background-size: 16px;
}